1.application.yml 文件中

spring:
  profiles:
    active: @profileActive@
	
  1.1创建不同环境下的配置文件
     application-dev.yml、
	 application-test.yml、
	 application-prod.yml
	 
或者
  1.2在application.yml 文件中，
	---
	spring:
	   profiles:dev
	   datasource:
	      url:
		  ……
	   
	---
	spring:
	   profiles:dev
	   datasource:
	      url:
		  ……
	   
	---
	spring:
	   profiles:dev
	   datasource:
	      url:
		  ……
		  
		  
		  
2.父项目的pom.xml中

<?xml version="1.0" encoding="UTF-8">
<project xmlns="http://maven.apache.org/POM/4.0.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0
            http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>
    
    <!-- 基本设置 The Basics -->
    <groupId>...</groupId>
    <artifactId>...</artifactId>
    <version>...</version>
    <packaging>...</packaging>
    <dependencies>...</dependencies>
    <parent>...</parent>
    <dependencyManagement>...</dependencyManagement>
    <modules>...</modules>
    <properties>...</properties>
    
	
	<profiles>  
		<profile>  
			<id>dev</id>  
			<activation>  
				<activeByDefault>true</activeByDefault>  
			</activation>  
			<properties>  
				<profileActive>dev</profileActive>  
			</properties>  
		</profile>  
		<profile>  
			<id>test</id>  
			<properties>  
				<profileActive>test</profileActive>  
			</properties>  
		</profile>  
		<profile>  
			<id>prod</id>  
			<properties>  
				<profileActive>prod</profileActive>  
			</properties>  
		</profile>  
    </profiles> 



    <!-- 构建过程的设置 Build Settings -->
    <build>...</build>
    <reporting>...</reporting>
    
    <!-- 项目信息设置 More Project Information -->
    <name>...</name>
    <description>...</description>
    <url>...</url>
    <inceptionYear>...</inceptionYear>
    <licenses>...</licenses>
    <organization>...</organization>
    <developers>...</developers>
    <contributors>...</contributors>
    
    <!-- 环境设置 Environment Settings -->
    <issueManagement>...</issueManagement>
    <ciManagement>...</ciManagement>
    <mailingLists>...</mailingLists>
    <scm>...</scm>
    <prerequisites>...</prerequisites>
    <repositories>...</repositories>
    <pluginRepositories>...</pluginRepositories>
    <distributionManagement>...</distributionManagement>
	
    <!-- <profiles>...</profiles> -->
</project>

3.maven命令打包成相应环境的程序包

生产环境
	mvn clean package -Pprod -U  
	或者
	mvn clean package -DprofileActive=prod -U
	
测试环境
	mvn clean package -Ptest -U  
	或者
	mvn clean package -DprofileActive=test -U
	
开发环境
	mvn clean package -Pdev -U  
	或者
	mvn clean package -DprofileActive=dev -U


